<!DOCTYPE html>
<html>
<head>
  <title>New Release</title>

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/masonry/dist/masonry.pkgd.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1>New Releases</h1>
  <button id="connect">Connect</button>
  <button id="view-playlist">View Playlist</button>
  <button id="submit-playlist">Submit Playlist</button>
  <div class="grid" id="album-container" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'></div>
</body>
</html>