<!DOCTYPE html>
<html>
<head>
  <title>New Release</title>

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/handlebars/handlebars.min.js"></script>
  <script type="text/javascript" src="bower_components/masonry/dist/masonry.pkgd.js"></script>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">
  <script type="text/javascript" src="js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <script id="instructions-template" type="text/x-handlebars-instructions">
    <div class="modal">
      <h1>Welcome to New Releases</h1>
      <p>This web app relies heavily on the use of a Spotfiy account.  Although the site operates fine without one, it is encouraged to use a Spotify account along with this site.</p>
      <button class="ui button" id="connect-button">Connect With Spotify</button>
    </div>
  </script>

  <script id="entry-template" type="text/x-handlebars-template">
    <div class="modal" id="album-content">
      <h1 id="playlist-header">{{album_name}}</h1>
      <h1 id="artist-name">{{artist}}</h1>
      <div id="tracks">
        {{#each tracks}}
          <p class="track-p">
            {{name}}
            <div class="ui icon buttons button-div">
              <button track_id={{id}} track_name='{{name}}' class="ui play-track button my-button">
                <i track_id={{id}} track_name='{{name}}' class="small play icon my-icon"></i>
              </button>
              <button track_id={{id}} track_name='{{name}}' class="ui add-button button my-button">
                <i track_id={{id}} track_name='{{name}}' class="small add icon my-icon"></i>
              </button>
            </div>
          </p>
        {{/each}}
      </div>
      <div id="playlist-button-div">
        <button id="back-button" class="circular ui icon button">
          <i class="small left arrow icon"></i>
        </button>
      </div>
    </div>
  </script>

  <script id="entry-template-two" type="text/x-handlebars-template">
    <div class="modal" id="playlist-content">
      <h1 id="playlist-header">{{playlist_name}}</h1>
      <div id="tracks">
        {{#each tracks}}
          <p class="track-p">{{track_name}} {{track_artist}}</p>
          {{#if current}}
            <div class="button-div">
              <button track_id={{spotify_id}} class="small remove-track circular ui icon negative button">
                <i class="small remove-track remove icon"></i>
              </button>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <div id="playlist-button-div">
        {{#if past}}
          <div class="play-playlist-div">
            <button playlist_id={{playlist_id}} class="play-playlist ui labeled icon button">
              <i playlist_id={{playlist_id}} class="play icon"></i>
              Play
            </button>
          </div>
        {{/if}}
        {{#if current}}
          <div id="playlist-input-div">
            <label id="playlist-label" for="playlist-title">Playlist Name: </label>
            <input id="playlist-title" name="playlist-title" placeholder="Playlist Name">
          </div>
          </br>
          <div id="playlist-submit-div" class="ui buttons">
            <button class="delete-button ui button">Delete</button>
            <div class="or"></div>
            <button id="submit-playlist" class="ui positive button">Submit</button>
          </div>
        {{/if}}
        </br>
        <button id="back-button" class="circular ui icon button">
          <i class="small left arrow icon"></i>
        </button>
      </div>
    </div>
  </script>

  <script id="user-modal-template" type="text/x-handlebars-template">
    <div class="modal" id="user-modal">
      <h1 id="playlist-header">{{user_name}}</h1>
      <div id="tracks-two">
        {{#each playlists}}
          <p class="playlist-modal-p">
            {{playlist_name}}
          </p>
          <div class="view-button-div">
            <button class="view-playlist-button small circular ui icon button" playlist={{_id}}>
              <i playlist={{_id}} class="unhide icon"></i>
            </button>
          </div>
        {{/each}}
      </div>
      <button id="back-button" class="circular ui icon button">
        <i class="small left arrow icon"></i>
      </button>
    </div>
  </script>

  <img id="spotify-logo" src="/imgs/spotify_logo.png">
  <h1 id="title-header">New Releases</h1>
  <div id="button-div">
    <button class="ui inverted green button sgreen" id="my_page">My Page</button>
    <button class="ui inverted green button sgreen" id="view-playlist">Current Playlist</button>
    <button class="ui inverted green button sgreen" id="help">Help</button>
    <button class="ui inverted green button sgreen" id="logout">Logout</button>
  </div>

  <div class="grid" id="album-container" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'></div>
</body>
</html>