<!DOCTYPE html>
<html>
<head>
  <title>New Release</title>

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/handlebars/handlebars.min.js"></script>
  <script type="text/javascript" src="bower_components/masonry/dist/masonry.pkgd.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <script id="entry-template" type="text/x-handlebars-template">
    <div class="modal" id="album-content">
      <h1 id="playlist-header">{{album_name}}</h1>
      <h1 id="artist-name">{{artist}}</h1>
      <div id="tracks">
        {{#each tracks}}
          <p class="trackP">
            {{name}}<button class="add" trackId={{id}} trackName='{{name}}'>Add to Playlist</button><button class="play-track" track_id='{{id}}'>Play</button>
          </p>
        {{/each}}
      </div>
      <div id="playlist-button-div">
        <button id="back-button">Back</button>
      </div>
    </div>
  </script>

  <script id="entry-template-two" type="text/x-handlebars-template">
    <div class="modal" id="playlist-content">
      <h1 id="playlist-header">{{playlist_name}}</h1>
      <div id="tracks">
        {{#each tracks}}
          <p class="trackP">{{track_name}} {{track_artist}} 
          {{#if current}}
            <button track_id={{spotify_id}} class="remove-track">Remove</button>
          {{/if}}
          </p>
        {{/each}}
      </div>
      <div id="playlist-button-div">
        {{#if past}}
          <button playlist_list='{{playlist_id}}' id="play-playlist">Play</button>
        {{/if}}
        {{#if current}}
          <div id="playlist-input-div">
            <label for="playlist-title">Playlist Name: </label>
            <input id="playlist-title" name="playlist-title" placeholder="Playlist Name">
          </div>
          </br>
          <button id="submit-playlist">Submit Playlist</button>
        {{/if}}
        </br>
        <button id="back-button">Back</button>
      </div>
    </div>
  </script>

  <script id="user-modal-template" type="text/x-handlebars-template">
    <div class="modal" id="user-modal">
      <h1>{{user_name}}</h1>
      <ul>
        {{#each playlists}}
          <li class="playlist-modal">{{playlist_name}} <button class="view-playlist-button" playlist={{_id}}>View</button></li>
        {{/each}}
      <ul>
      <button id="back-button">Back</button>
    </div>
  </script>

  <img id="spotify-logo" src="/imgs/spotify_logo.png">
  <h1 id="title-header">New Releases</h1>
  <div id="button-div">
    <button class="button" id="my_page">My Page</button>
    <button class="button" id="view-playlist">Current Playlist</button>
    <button class="button" id="connect">Reconnect</button>
    <button class="button" id="logout">Logout</button>
  </div>

  <div class="grid" id="album-container" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'></div>
</body>
</html>