<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="modal">
    <h1 id="login-header">Login</h1>
    <form method="POST" action="/login">
      <div class="login-input">
        <label>Username: </label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="login-input">
        <label>Password: </label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <input id="login-submit-button" type="submit" value="Log In">
    </form>
    <p id="or-para">Or</p>
    <button id="guest-signin">Sign In as Guest</button>
    <a id="sign-up-anchor" href="/users/new">Not a Member? Sign Up!</a>
  </div>
  <script type="text/javascript">
    guest_button = document.getElementById('guest-signin');
    guest_button.addEventListener('click', function() {
      document.location = 'https://new-releases.herokuapp.com/index';
    })
  </script>
</body>
</html>