* { 
  box-sizing: border-box; 
}

body { 
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.shadow {
  position: fixed;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
}

.grid {
  background: #EEE;
  max-width: 100%;
  width: 97vw;
  margin: 0 auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 250px;
  height: 250px;
  float: left;
  border: 2px solid black;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  z-index: 10;
  background: white;
  margin-left: -250px;
  margin-top: -250px;
  border-radius: 30px;
  background-color: rgb(106, 227, 104);
}

#login-header {
  text-align: center;
  margin-bottom: 100px;
}

#sign-up-anchor {
  position: absolute;
  text-align: center;
  bottom: 5px;
  left: 32%;
}

#spotify-logo {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
  margin-left: 15px;
}

#title-header {
  display: block;
  height: 100px;
  width: 75%;
  float: left;
  margin: 0;
  padding-left: 20px;
  font-size: 75px;
  color: rgb(29, 214, 94);
}

#button-div {
  position: absolute;
  top: 15px;
  right: 0;
  display: block;
  width: 25%;
  height: 100px;
}

.sgreen {
  color: rgb(29, 214, 94);
}

.button-div {
  display: inline-block;
}

.my-button {
  height: 35px;
  width: 35px;
}

.track-p {
  display: inline-block;
  padding-left: 5px;
  width: 420px;
  font-size: 20px;
  text-decoration: bold;
}
/*.button {
  background: #1dd55e;
  background-image: -webkit-linear-gradient(top, #1dd55e, #1dff5d);
  background-image: -moz-linear-gradient(top, #1dd55e, #1dff5d);
  background-image: -ms-linear-gradient(top, #1dd55e, #1dff5d);
  background-image: -o-linear-gradient(top, #1dd55e, #1dff5d);
  background-image: linear-gradient(to bottom, #1dd55e, #1dff5d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #000000;
  font-size: 30px;
  text-decoration: none;
  height: 50px;
  width: 100px;
}*/

.login-input {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 250px;
}

.play-playlist-div {
  position: relative;
  display: block;
  left: 200px;
}

#tracks-two {
  width: 500px;
  height: 400px;
  overflow: scroll;
}

#login-submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}

#spotify-anchor {
  display: block;
  height: 25px;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

#playlist-header {
  text-align: center;
}

#tracks {
  width: 500px;
  height: 300px;
  overflow: scroll;
}

#playlist-button-div {
  position: absolute;
  width: 500px;
  bottom: 10px;
}

#back-button {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

#playlist-input-div {
  display: block;
  width: 300px;
  margin: 0 auto; 
}

#artist-name {
  text-align: center;
}

.view-button-div {
  width: 10px;
  display: inline-block;
  right: 0;
}

#playlist-submit-div {
  margin-left: 164px;
  margin-bottom: 5px;
}

#playlist-label {
  font-size: 20px;
}

.playlist-modal-p {
  padding-left: 5px; 
  display: inline-block;
  font-size: 20px;
  text-decoration: bold;
  width: 450px;
}